<sb-layout-dashboard>
    <sb-dashboard-head title="Saisie des règlements" [hideBreadcrumbs]="false"></sb-dashboard-head>
<div> 
    <sb-card class="justify-content-center">

        <form #r="ngForm" class="card-body"> 
            <div id="fournisseur" class="row" >
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputIn">CNUF</label>
                        <input class="form-control form-control-sm" id="cnufinput"  type="number" min="0"
                        name="cnuf" ngModel (input)="onSearchChange($event.target.value)" required
                             />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Nom Fournisseur</label>
                        <input class="form-control form-control-sm" id="inputText" type="text" placeholder="Nom Fournisseur" readonly
                        [(ngModel)]="frs.libelleFrs" name="libelleFrs"/>   
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Banque</label>
                        <select (change)="selectChangeHandlerB($event)" class="form-control custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                            <option selected>Choisissez...</option>
                            <option required *ngFor="let b of banques._embedded.banques">{{b.libelleBanque}}</option>

                        </select>
                    </div>
                </div>
            </div>

            <div id="societe et facture" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Société</label>
                        <select (change)="selectChangeHandlerS($event)" class="form-control custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                            <option selected>Choisissez...</option>
                            <option required *ngFor="let s of societes._embedded.societes">{{s.libelleSociete}}</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Date dépôt</label>
                        <sb-datepicker></sb-datepicker>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Date échéance</label>
                        <sb-datepicker></sb-datepicker>
                    </div>
                </div>
            </div>



            <div id="doc" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Type document</label>
                        <select (change)="selectChangeHandlerT($event)" class="form-control custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                            <option selected>Choisissez...</option>
                            <option  *ngFor="let t of typesReglement._embedded.typeReglements">{{t.libelleTypereglement}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">N° chèque/effet</label>
                        <input class="form-control form-control-sm" type="text" 
                        placeholder="1" min="0"  required />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">                    
                        <label class="small mb-1" for="inputIn">Montant TTC</label>
                        <input class="form-control form-control-sm" id="inputText" type="number" 
                        placeholder="9999" min="0"  required name="montant" ngModel/>                    
                    </div>
                </div>
            </div>

            <div class="form-group d-flex align-items-center justify-content-around mt-4 mb-0">
                <div><button class="btn btn-danger" type="reset" >Annuler</button></div>
                <div><button class="btn btn-secondary" (click)="onHold(r)" >Ajouter</button></div>
                <div><button class="btn btn-success" type="submit" (click)="onSaveR(r.value)" >Valider</button></div>
            </div>
        </form>


    </sb-card>
    <div>
        <form>
    
            <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Société</th>
                <th scope="col">Type doc</th>
                <th scope="col">Banque</th>
                <th scope="col">Montant doc</th>
                <th scope="col">Date d'échéance</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of reglementsOnHold">
                    <td>{{r.fournisseur.cnuf}}</td>
                    <td>{{r.montant | number:'.2'}}</td>
                    <td>date echeance</td>

                    <td><button class="btn btn-secondary" >Modifier</button></td>
                    <td><button class="btn btn-danger" >Supprimer</button></td>





                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</sb-layout-dashboard>