<sb-layout-dashboard>
    <sb-dashboard-head title="Paiement de la Marge Arrière" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div>
        <form #f="ngForm" (ngSubmit)="onHoldCheque(f.value)"> 

            <div id="dates" class="row">
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Société *</label>
                        <select (change)="selectChangeHandlerS($event)" class="form-control custom-select mr-sm-2" id="inlineFormCustomSelect"  >
                            <option selected>Choisissez...</option>
                            <option  *ngFor="let s of societes._embedded.societes">{{s.libelleSociete}}</option>
                        </select>                  
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Date de Dépôt *</label>
                        <input class="form-control form-control-sm" id="inputText" type="date" placeholder=" " />
                    </div>
                </div>
            </div>

            
            <div id="fournisseur" class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputIn">Banque *</label>
                        <select (change)="selectChangeHandlerB($event)"  class="form-control custom-select mr-sm-2" id="inlineFormCustomSelect"  >
                            <option selected>Choisissez...</option>
                            <option  *ngFor="let s of banques._embedded.banques">{{s.libelleBanque}}</option>
                        </select>            
         
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Type de Paiement *</label>
                        <select (change)="selectChangeHandlerT($event)"  class="form-control custom-select mr-sm-2" id="inlineFormCustomSelect"  >
                            <option selected>Choisissez...</option>
                            <option  *ngFor="let s of typesPaiement._embedded.typePaiements">{{s.libelleTypepaiement}}</option>
                        </select>       
             
                    </div>
                </div>

            </div>

            <div id="dates" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Fournisseur *</label>
                        <input class="form-control form-control-sm" id="inputText" type="text" 
                        name="libelleFrs" ngModel #libelleFrs="ngModel" (input)="onSearchChange($event.target.value)"
                        placeholder="libelle Fournisseur" required/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Utilisateur *</label>
                        <input class="form-control form-control-sm" id="inputText" type="text" 
                        placeholder="Utilisateur" readonly 
                        [(ngModel)]="nomComplet" name="nomComplet"/>

                    </div>
                </div>
            </div>

            <div id="dates" class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Date Document *</label>
                        <input class="form-control form-control-sm" id="inputText" type="date" placeholder=" " required/>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">N° chèque/effet *</label>
                        <input class="form-control form-control-sm" id="inputText" type="number" 
                        name="numCheque" ngModel placeholder=" " required/>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Montant TTC *</label>
                        <input class="form-control form-control-sm" id="inputText" type="number" 
                        placeholder="9999" name="montant" ngModel required/>
                    </div>
                </div>


                
            </div>

            <div class="form-group d-flex align-items-center justify-content-around mt-4 mb-0 float-center">               
                <div><button class="btn btn-danger" type="reset" >Annuler</button></div>
                <div><button class="btn btn-primary" type="submit">Suivant</button></div>

            </div>
        </form>
        
    
    </div>
</sb-layout-dashboard>


