@import 'styles/variables.scss';

.login{
    background:  url('F://S6/folder/sbo2.0/src/assets/img/bglogin.jpg')  !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}