<sb-layout-dashboard>
    <sb-dashboard-head title="Recherche des chèques" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <div>
        <form #f="ngForm" (ngSubmit)="onChercher(f.value)"> 
            <div id="dates" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Date début</label>
                        <sb-datepicker></sb-datepicker>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Date fin</label>
                        <sb-datepicker></sb-datepicker>
                    </div>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputIn">CNUF</label>
                        <input class="form-control form-control-sm" id="inputIn" type="number" 
                        placeholder="CNUF du fournisseur" min="0" name="cnuf" ngModel />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">Libelle Fournisseur</label>
                        <input class="form-control form-control-sm" id="inputText" type="text" 
                        placeholder=" " name="libelleFrs" ngModel />
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputIn">N° chèque/effet </label>
                        <input class="form-control form-control-sm" id="inputIn" type="number" 
                     min="0" name="numCheque" ngModel />
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="inputText">N° Facture de Marge Arriere</label>
                        <input class="form-control form-control-sm" id="inputText" type="text" 
                        placeholder=" " name="numFactAg" ngModel />
                    </div>
                </div>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0 float-right">
                <div><button class="btn btn-secondary" type="submit" (click)="toggle = true" >Chercher</button></div>
            </div>
        </form>
        
        <div *ngIf="toggle">
            <form>
        
                <table class="table table-striped" id="excel-table">
                <thead>
                <tr>
                    <th scope="col">Date de sortie chèque/effet</th>
                    <th scope="col">Société</th>
                    <th scope="col">CNUF</th>
                    <th scope="col">Fournisseur</th>
                    <th scope="col">Banque</th>
                    <th scope="col">Factures Cochées</th>
                    <th scope="col">Somme Factures Cochées</th>
                    <th scope="col">N° Chèque / Effet</th>
                    <th scope="col">Montant Chèque / Effet</th>
                    <th scope="col">Date d'échéance</th>
                </tr>
                </thead>
                <tbody>          
                    <tr *ngFor="let c of chequeList">
                        <td>date sortie</td>
                        <td>{{c.societe.idSociete}}</td>
                        <td>{{c.fournisseur.cnuf}}</td>
                        <td>{{c.fournisseur.libelleFrs}}</td>
                        <td>{{c.banque.libelleBanque}}</td>
                        <td>{{numFactsList}}</td>
                        <td>{{montantFactsSum}}</td>
                        <td>{{c.numCheque}}</td>
                        <td>{{c.montant}}</td>
                        <td>date d'echeance</td>
                        <td><button  [disabled]="!isAdmin" class="btn btn-secondary" (click)=onUpdateCheque(c)>Modifier</button></td>
                        <td><button  [disabled]="!isAdmin" class="btn btn-danger" (click)=onDeleteCheque(c)>Supprimer</button></td>




                    </tr>
                </tbody>
                </table>
            </form>
            <div><button class="btn btn-secondary" (click)="exportexcel()" >Télécharger</button></div>

        </div>
    </div>
</sb-layout-dashboard>

